# Loops
- repeating something over and over until a particular condition is satisfied
- there are two loops
  - while loop:
    - Infinite loop
    - use this loop when don't know how many times code will repeated.
  - for loop:
    - Finite loop
    - FOR loop is used for iterating over a sequence(that either a list, tuple, dictionary, set or string)
    - when we know how many times code will repeated.

## While loop

### Write a program to print first 10 even numbers

In [5]:
num = 2
while num <= 20:
    print(f"{num} is even")
    num = num + 2

2 is even
4 is even
6 is even
8 is even
10 is even
12 is even
14 is even
16 is even
18 is even
20 is even

### write program to print first 10 natural numbers and their squares

In [8]:
num = 1
while num <= 10:
    sqr = num * num
    print(f"number is {num} and square of {num} is {sqr}")
    num = num + 1

number is 1 and square of 1 is 1
number is 2 and square of 2 is 4
number is 3 and square of 3 is 9
number is 4 and square of 4 is 16
number is 5 and square of 5 is 25
number is 6 and square of 6 is 36
number is 7 and square of 7 is 49
number is 8 and square of 8 is 64
number is 9 and square of 9 is 81
number is 10 and square of 10 is 100

### write while loop statement to print series 105, 98,91,....,7

In [10]:
num = 105
while num >= 7:
    print(num)
    num = num - 7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

### write program to print first 10 natural number in reverse order using while loop

In [11]:
num = 10
while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

### write program to check whether the number is prime or not

In [14]:
num = int(input('enter the number: '))
k = 0
if num == 0 or num ==1:
    print("not prime number")
else:
    i = 2
    while i < num:
        if num % i == 0:
            k = k+1
        i = i+1
if k == 0:
    print(num ,"is prime number")
else:
    print(num ,"is not prime")

enter the number: 8
8 is not prime

## break statement
- with the break statement we can stop the loop even if the while condition is true

### Exit the loop when i = 3

In [17]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i = i+1

1
2
3

## Continue Statement
- with the continue statement we can stop the current iteration, and continue with the next

### continue to the next iteration if i = 3

In [18]:
i = 0
while i < 6:
    i = i+1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

## FOR loop

In [19]:
fruits = ['apple','banana','grapes','berry']
for x in fruits:
    print(x)

apple
banana
grapes
berry

In [20]:
for x in 'banana':
    print(x)

b
a
n
a
n
a

### Exit loop if fruit = 'banana'

In [22]:
fruits = ['apple','banana','grapes','berry']
for x in fruits:
    print(x)
    if x == 'banana':
        break

apple
banana

### continue with next iteration if fruit = 'banana'

In [25]:
fruits = ['apple','banana','grapes','berry']
for x in fruits:
    if x == 'banana':
        continue
    print(x)

apple
grapes
berry

In [26]:
for x in range(0,6):
    print(x)

0
1
2
3
4
5

## List comprehension

In [28]:
lst = []
for i in range(0,10,2):
    lst.append(i+10)
print(lst)

[10, 12, 14, 16, 18]

In [31]:
lst = [num+10 for num in range(0,10,2)]
print(lst)

[10, 12, 14, 16, 18]